<!DOCTYPE html>

<html>
<html class="<%= @browser_name %>">
<head>
	<title>Stop American Censorship!</title>

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />  
	<meta name="viewport" content="user-scalable=no; width=device-width; initial-scale=1.0; maximum-scale=1.0;"> 

	<link rel="shortcut icon" href="http://deallocated-objects.s3.amazonaws.com/images/facebook.jpg">
	<link rel="apple-touch-icon-precomposed" href="http://deallocated-objects.s3.amazonaws.com/images/ios-icon.png">
	<link rel="apple-touch-startup-image" href="http://deallocated-objects.s3.amazonaws.com/images/ios-splash.jpg" />  

	<meta property="og:title" content="Stop American Censorship!" /> 
	<meta property="og:description" content="Congress is considering a law that would censor the web. Sites you use every day could be blocked if it passes." /> 
	<meta property="og:image" content="http://deallocated-objects.s3.amazonaws.com/images/facebook.jpg" />

	  <%= stylesheet_link_tag    "sopablackout/application" %>
	  <%= javascript_include_tag "sopablackout/application" %>
	  <%= csrf_meta_tags %>

	<script>
	    window.onload = function() {
	        setTimeout(function() { window.scrollTo(0, 1) }, 100);
	    }
	</script>
</head>
<body>
	<div id="container">
		<%= yield %>
	</div>
</body>
</html>